langchain
langchain-openai
langchain-community
langchain-chroma
chromadb
pypdf
python-dotenv
openai
tiktoken
pysqlite3-binary
docx2txt
pytesseract
streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
dnspython
extra-streamlit-components
